---
import { Image } from "astro:assets";

import Soc2Image from "@assets/global/soc2.avif";
import HipaaImage from "@assets/global/hipaa.avif";
import { Icon } from "astro-icon/components";

interface FooterLink {
  label: string;
  href: string;
}

const supportLinks: FooterLink[] = [
  { label: "Docs", href: "https://docs.trieve.ai/" },
  { label: "Matrix", href: "https://matrix.to/#/#trieve-general:trieve.ai" },
  { label: "Discord", href: "https://discord.gg/E9sPRZqpDT" },
  { label: "+1 628-222-4090", href: "tel:+16282224090" },
  { label: "humans@trieve.ai", href: "mailto:humans@trieve.ai" },
];

const companyLinks: FooterLink[] = [
  { label: "About", href: "/about" },
  { label: "Admin Dashboard", href: "https://dashboard.trieve.ai/" },
  { label: "Privacy Policy", href: "/legal/privacy-policy" },
  { label: "Terms of Service", href: "/legal/terms-of-service" },
  { label: "Trust Center", href: "https://trust.oneleet.com/trieve" },
  { label: "GitHub", href: "https://github.com/trieve" },
];

const productLinks: FooterLink[] = [
  { label: "Pricing", href: "/pricing" },
  { label: "Developer Documentation", href: "https://docs.trieve.ai/" },
  { label: "Typescript SDK", href: "https://ts-sdk.trieve.ai/" },
  { label: "HN Search Engine", href: "https://hn.trieve.ai/" },
];

const comparisonLinks: FooterLink[] = [
  { label: "vs Algolia", href: "/compare/trieve-vs-algolia" },
];

const socialLinks = [
  { icon: "tabler:brand-x", href: "https://x.com/trieveai" },
  {
    icon: "tabler:brand-github",
    href: "https://github.com/devflowinc/trieve",
  },
  {
    icon: "tabler:brand-matrix",
    href: "https://matrix.to/#/#trieve-general:trieve.ai",
  },
  { icon: "tabler:brand-discord", href: "https://discord.gg/E9sPRZqpDT" },
  { icon: "tabler:rss", href: "/rss.xml" },
];
---

<footer class="border-t border-stone-200 bg-white/50 py-16 relative z-10">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 gap-16 md:grid-cols-2 lg:grid-cols-5">
      <!-- Compliance Section -->
      <div class="flex flex-col gap-4">
        <h2 class="text-lg font-semibold">Trieve</h2>

        <div class="flex gap-4 mt-4">
          <div class="flex flex-col items-center text-center">
            <Image
              src={Soc2Image}
              alt="SOC2 Type 2 Compliant"
              class="h-16 w-16"
            />
            <span class="mt-2 text-xs block">SOC2 Type 2<br />Compliant</span>
          </div>
          <div class="flex flex-col items-center text-center">
            <Image src={HipaaImage} alt="HIPAA Compliant" class="h-16 w-16" />
            <span class="mt-2 text-xs block">HIPAA<br />Compliant</span>
          </div>
        </div>
      </div>

      <!-- Support Sections -->
      <div class="text-sm">
        <h3 class="mb-4 font-semibold uppercase text-stone-500">Support</h3>
        <ul class="space-y-2">
          {
            supportLinks.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-stone-600 hover:text-stone-900 hover:underline"
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Company Sections -->
      <div class="text-sm">
        <h3 class="mb-4 font-semibold uppercase text-stone-500">Company</h3>
        <ul class="space-y-2">
          {
            companyLinks.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-stone-600 hover:text-stone-900 hover:underline"
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Product Sections -->
      <div class="text-sm">
        <h3 class="mb-4 font-semibold uppercase text-stone-500">Product</h3>
        <ul class="space-y-2">
          {
            productLinks.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-stone-600 hover:text-stone-900 hover:underline"
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Comparisons Sections -->
      <div class="text-sm">
        <h3 class="mb-4 font-semibold uppercase text-stone-500">Comparisons</h3>
        <ul class="space-y-2">
          {
            comparisonLinks.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="text-stone-600 hover:text-stone-900 hover:underline"
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <!-- Social Links -->
    <div class="mt-8 flex justify-end gap-4">
      {
        socialLinks.map(({ icon, href }) => (
          <a
            href={href}
            class="text-stone-400 hover:text-stone-600"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name={icon} title={icon} class="w-6 h-6" />
          </a>
        ))
      }
    </div>
  </div>
  <p class="text-xs text-stone-500 text-center mt-8">
    &copy; {new Date().getFullYear()} Trieve.ai - All rights reserved.
  </p>
</footer>
