---
interface Props {
  title: string;
  tagline?: string;
  leadText?: string;
  role: "primary" | "secondary" | "tertiary" | "none";
}

const { title, tagline, leadText, role } = Astro.props;
---

<div
  class="flex flex-col gap-4 items-center justify-center py-16 mx-auto text-center"
>
  {
    tagline ? (
      <span class="text-purple-700 text-xs uppercase tracking-wid rounded-full bg-white/50 px-4 py-2">
        {tagline}
      </span>
    ) : null
  }
  {
    role === "primary" ? (
      <h1 class="text-6xl text-stone-800 font-normal font-serif tracking-tighter text-balance max-w-4xl">
        {title}
      </h1>
    ) : role === "secondary" ? (
      <h2 class="text-5xl text-stone-800 font-normal font-serif tracking-tighter text-balance max-w-4xl ">
        {title}
      </h2>
    ) : role === "tertiary" ? (
      <h3 class="text-4xl text-stone-800 font-normal font-serif tracking-tighter text-balance max-w-4xl ">
        {title}
      </h3>
    ) : (
      <strong class="block text-3xl text-stone-800 font-normal font-serif tracking-tighter text-balance max-w-4xl">
        {title}
      </strong>
    )
  }

  {
    leadText ? (
      <p class="text-xl font-light text-stone-600 max-w-4xl text-balance">
        {leadText}
      </p>
    ) : null
  }
</div>
