---
import invariant from "tiny-invariant";

import { keystatic } from "@lib/keystatic/client";
import SectionHeader from "@components/shared/SectionHeader.astro";
import CallToAction from "@components/CallToAction.astro";
import PricingPlans from "@components/PricingPlans.astro";
import Layout from "@layouts/Layout.astro";

const pageContent = await keystatic.singletons.pricing.read();
invariant(pageContent, "No homepage content found");

const { metaData, pageHeader, pricingPlans } = pageContent;
---

<Layout
  contentClass="py-8 px-4"
  pageTitle={metaData.title || pageHeader.title}
  pageDescription={metaData.description}
>
  <div class="container max-w-7xl mx-auto">
    <SectionHeader
      role="primary"
      tagline={pageHeader.tagline}
      title={pageHeader.title}
      leadText={pageHeader.leadText}
    />

    <PricingPlans plans={pricingPlans.plans} />

    <div class="text-center mb-16">
      <p class="text-gray-600">
        For free, self hosting, self supported options on Docker, AWS & GCP <a
          href="https://docs.trieve.ai/self-hosting/"
          class="text-purple-600 underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          visit our developer docs
        </a>
        .
      </p>
    </div>

    <CallToAction
      title="Still unsure? Reduce your risk with a custom demo!"
      leadText="Get a personalized walkthrough of Trieve with our team."
    />
  </div>
</Layout>
