---
import { Image } from "astro:assets";

interface Props {
  id: string;
  title: string;
  text?: string;
  tagline?: string;
  contentGroups?: Array<{
    title: string;
    text: string;
    tagline: string;
    layout: string;
    image: {
      url: string;
      width: number;
      height: number;
      alternativeText: string;
    };
  }>;
}

const props = Astro.props;

const { id, title, text, tagline, contentGroups } = props;
---

<section id={`content-${id}`} class="mb-32">
  <div class="text-center">
    {
      tagline ? (
        <span class="inline-block text-purple-700 text-xs uppercase tracking-wide rounded-full bg-white/50 px-4 py-2 mb-4">
          {tagline}
        </span>
      ) : null
    }
    <h2 class="text-4xl font-serif tracking-tighter text-balance">{title}</h2>
    {text ? <p class="text-lg font-light my-4 text-balance">{text}</p> : null}
  </div>

  {
    contentGroups?.map((group) => (
      <div class="grid grid-cols-2 gap-8 items-center m-16">
        <div class="flex flex-col p-8">
          <strong class="block my-4">{group.tagline}</strong>
          <h2 class="text-4xl font-serif tracking-tighter text-balance">
            {group.title}
          </h2>
          <p class="text-lg font-light my-4 text-balance">{group.text}</p>
        </div>
        <div class="flex justify-center items-center p-8">
          <Image
            src={`${import.meta.env.STRAPI_URL}${group.image.url}`}
            alt={group.image.alternativeText}
            width={group.image.width}
            height={group.image.height}
            alt={group.image.alternativeText || group.title}
            class="rounded-lg"
          />
        </div>
      </div>
    ))
  }
</section>
