---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import SectionHeader from "./shared/SectionHeader.astro";

interface Props {
  header: {
    title: string;
    tagline: string;
    leadText: string;
  };
  items: ReadonlyArray<{
    image?: string;
    layout: "image-left" | "image-right";
    tagline?: string;
    title: string;
    description?: string;
    items: ReadonlyArray<{
      title: string;
      description: string;
    }>;
  }>;
}

const { header, items = [] } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpg,jpeg,png,gif}",
  {
    eager: true,
  }
);
---

<section class="my-16">
  <div class="container mx-auto">
    <SectionHeader role="secondary" {...header} />

    <div class="flex flex-col gap-4 md:gap-16">
      {
        items?.map((item) => (
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-16 items-center bg-amber-50/50 rounded-lg py-8 md:py-16 px-8 overflow-hidden">
            <div
              class={
                item.layout === "image-left"
                  ? "order-first md:order-first"
                  : "order-last md:order-last"
              }
            >
              {item.image && images[item.image].default ? (
                <Image
                  src={images[item.image].default}
                  alt={item.title}
                  width={images[item.image].default.width}
                  height={images[item.image].default.height}
                  class="w-full rounded-2xl shadow-md bg-white"
                />
              ) : null}
            </div>
            <div
              class:list={[
                "flex flex-col py-4 md:py-8 text-center md:text-left",
                {
                  "md:pr-16": item.layout === "image-left",
                  "md:pl-16": item.layout === "image-right",
                },
              ]}
            >
              <strong class="block my-4">{item.tagline}</strong>
              <h3 class="text-3xl font-normal font-serif tracking-tighter text-balance">
                {item.title}
              </h3>
              {item.description ? (
                <p class="text-lg font-light my-4 text-balance">
                  {item.description}
                </p>
              ) : null}
              {item.items.map((subItem) => (
                <div class="flex flex-col my-2">
                  <strong class="text-lg block font-normal">
                    {subItem.title}
                  </strong>
                  <p class="text-base font-light my-1">{subItem.description}</p>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
